/* 全局样式 */
html,body,#app {
  margin: 0;
  padding: 0;
  height: 100%;
  min-width: 1366px;
}

/* 面包屑导航 */
.el-breadcrumb {
  margin-bottom: 15px;
}

/* 用户列表展示区域 */
.el-table {
  margin-top: 15px;
  font-size: 14px;
}

/* 分页区域 */
.el-pagination {
  margin-top: 15px;
}

/* 竖直居中对齐 */
.vcenter {
  display: flex;
  align-items: center;
}